* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.nav-link {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}

.img_frst {
    background-color: #d4e9e2;
}

.img_scnd {
    background-color: #006241;
}

.img_thrd {
    background-color: #f6bfd9;
}

.img_frth {
    background-color: #fff4d4;
}

ul.foot > li > a:hover{
    text-decoration: underline;
}
