* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-link {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}

.text_frst {
    background-color: #d4e9e2;
}

.img_frst {
    background-color: #00623f;
}

.img_scnd {
    background-color: #f6bfd9;
}

.img_thrd {
    background-color: #fff4d4;
}

.img_frth {
    background-color: #d4e9e2;
}
